/*
COLORS


foto: #f9b3b6

Primary: #ffc0cb
Primary light: #fcdce4 
Primary dark: #c99ca5
Primary white: #fcf0f2
Primary strong: #84646c


shadow: #846c6c
shadow light: #9f7d84


grey: #9b9c9c
grey 2: #989c94
*/

:root {
   --color-primary: #ffc0cb;
   --color-primary-light: #fcdce4;
   --color-primary-dark: #d6a5ae;
   --color-primary-white: #fcf0f2;
   --color-primary-strong: #9e747e;
   --color-primary-strong-2: #8b676f;

   --color-login: #ff91a3;

   --color-gold: rgb(255, 215, 0);
   --color-gold-light: rgb(255, 230, 89);
   --color-gold-strong: rgb(192, 163, 0);

   --color-tick: rgb(83, 216, 83);

   --color-salmon: salmon;
   --color-salmon-light: rgb(255, 164, 154);
   --color-salmon-strong: rgb(218, 93, 79);

   --color-orange: rgb(255, 166, 0);
   --color-orange-light: rgb(248, 188, 76);
   --color-orange-strong: rgb(173, 113, 0);

   --color-red: rgb(255, 0, 0);
   --color-red-light: rgb(255, 89, 89);
   --color-red-strong: rgb(173, 0, 0);

   --color-blue: rgb(0, 191, 255);
   --color-blue-light: rgb(102, 217, 255);
   --color-blue-strong: rgb(8, 149, 196);

   --color-white: rgb(255, 255, 255);
   --color-white-grey: rgb(236, 236, 236);

   --color-black: rgb(0, 0, 0);

   --color-main-back: #7f8a8b;

   --shadow-color: 0px 0px 0.3px 0.8px var(--color-primary);
   --shadow-color-light: #9f7d84;

   --shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.103);
   --shadow-2: 0 0.3rem 0.5rem rgba(155, 58, 58, 0.479);

   --grey-color: #a6aaaa;
   --grey-color-light: #c6cac2;
   --grey-color-dark: #818380;
}

//color variables
$color-primary: #ffc0cb;
$color-primary-light: #fcdce4;
$color-primary-dark: #d6a5ae;
$color-primary-white: #fcf0f2;
$color-primary-strong: #9e747e;
$color-primary-strong-2: #6e5359;

$color-login: #ff6f87;

$color-gold: rgb(255, 215, 0);
$color-gold-light: rgb(255, 230, 89);
$color-gold-strong: rgb(192, 163, 0);

$color-tick: rgb(83, 216, 83);

$color-salmon: salmon;
$color-salmon-light: rgb(255, 164, 154);
$color-salmon-strong: rgb(218, 93, 79);

$color-orange: rgb(255, 166, 0);
$color-orange-light: rgb(248, 188, 76);
$color-orange-strong: rgb(173, 113, 0);

$color-red: rgb(255, 0, 0);
$color-red-light: rgb(255, 89, 89);
$color-red-strong: rgb(173, 0, 0);

$color-blue: rgb(0, 191, 255);
$color-blue-light: rgb(102, 217, 255);
$color-blue-strong: rgb(8, 149, 196);

$color-white: rgb(255, 255, 255);
$color-white-grey: rgb(236, 236, 236);

$color-green: rgb(81, 204, 81);
$color-green-dark: rgb(52, 136, 52);
$color-green-light: rgb(103, 226, 103);
$color-green-strong: rgb(10, 141, 10);

$color-black: rgb(0, 0, 0);

$color-main-back: #8d8f8d;

$shadow-color: 0px 0px 0.3px 0.8px $color-primary;
$shadow-color-light: #9f7d84;

$shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.103);
$shadow-2: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103);

$grey-color: #a6aaaa;
$grey-color-light: #c6cac2;
$grey-color-dark: #818380;

//font variables
$font-barlow: 'Barlow', sans-serif;
$font-opensans: 'Open Sans', sans-serif;
$font-quicksand: 'Quicksand', sans-serif;
$font-comfortaa: 'Comfortaa', cursive;
$font-della: 'Della Respira', serif;
$font-nunito: 'Nunito', sans-serif;
$font-lato: 'Lato', sans-serif;
$font-josefin: 'Josefin Slab', serif;
$font-courier: 'Courier Prime', monospace;

//Breakpoints variables
$bp-seven: 43.75rem;
$bp-six: 37.5rem;
$bp-five: 33.125rem;
$bp-four: 25rem;

* {
   margin: 0;
   padding: 0;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

html {
   box-sizing: border-box;
   font-size: 62.5%; // 1rem = 10px  ----- 10px/16px = 62.5%
}

body {
   font-family: $font-lato;
   font-weight: 400;
   line-height: 1.6;
   color: var(--grey-color);
   background-color: var(--color-main-back);
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
}

a {
   text-decoration: none;
}
