.container {
   //max-width: 120rem;
   //margin: 8rem auto;
   background-color: var(--grey-color-dark);
   box-shadow: var(--shadow-color);

   //min-height: 50rem;
}

.content {
   display: flex;
}
