.container {
   background-color: var(--color-main-back);
   //box-shadow: var(--shadow-color);

   //min-height: 50rem;
}

.store__container {
   background-color: var(--color-main-back);
   display: grid;

   grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
   grid-template-columns:
      [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(
         8,
         [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] minmax(22rem, 1fr) [full-end];

   @media only screen and (max-width: $bp-seven) {
      grid-template-columns:
         [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(
            8,
            [col-start] minmax(min-content, 14rem) [col-end]
         )
         [center-end] minmax(11rem, 1fr) [full-end];
   }
}

.produto__container {
   background-color: var(--color-main-back);
   display: grid;

   grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
   grid-template-columns:
      [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(
         8,
         [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] minmax(22rem, 1fr) [full-end];

   @media only screen and (max-width: $bp-seven) {
      grid-template-columns:
         [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(
            8,
            [col-start] minmax(min-content, 14rem) [col-end]
         )
         [center-end] minmax(11rem, 1fr) [full-end];
   }
}

.userDashboard__container {
   background-color: var(--color-main-back);
   display: grid;
   height: 100vh;

   grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
   grid-template-columns:
      [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(
         8,
         [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] minmax(22rem, 1fr) [full-end];

   @media only screen and (max-width: $bp-seven) {
      grid-template-columns:
         [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(
            8,
            [col-start] minmax(min-content, 14rem) [col-end]
         )
         [center-end] minmax(11rem, 1fr) [full-end];
   }
}

.storeOwnerDashboard__container {
   background-color: var(--color-main-back);
   display: grid;
   height: 100vh;

   grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
   grid-template-columns:
      [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(
         8,
         [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] minmax(22rem, 1fr) [full-end];

   @media only screen and (max-width: $bp-seven) {
      grid-template-columns:
         [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(
            8,
            [col-start] minmax(min-content, 14rem) [col-end]
         )
         [center-end] minmax(11rem, 1fr) [full-end];
   }
}

.newStoreDashboard__container {
   background-color: var(--color-main-back);
   display: grid;
   height: 100vh;

   grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
   grid-template-columns:
      [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(
         8,
         [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] minmax(22rem, 1fr) [full-end];

   @media only screen and (max-width: $bp-seven) {
      grid-template-columns:
         [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(
            8,
            [col-start] minmax(min-content, 14rem) [col-end]
         )
         [center-end] minmax(11rem, 1fr) [full-end];
   }
}

.produtoDashboard__container {
   background-color: var(--color-main-back);
   display: grid;
   height: 100vh;

   grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
   grid-template-columns:
      [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(
         8,
         [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] minmax(22rem, 1fr) [full-end];

   @media only screen and (max-width: $bp-seven) {
      grid-template-columns:
         [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(
            8,
            [col-start] minmax(min-content, 14rem) [col-end]
         )
         [center-end] minmax(11rem, 1fr) [full-end];
   }
}

.main {
   background-color: $color-main-back;
   padding: 8rem 6rem;

   position: relative;
}

.form {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;

   .form__input {
      color: $grey-color-dark;
      display: block;
      font-family: inherit;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 1.25rem 1.75rem;
      border: none;
      width: 100%;
      background-color: #e4e3e3;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      /* Pseudo element (a visible thing that isn't really in the DOM).
          Also needs -ms- */
   }
   .form__input:focus {
      outline: none;
      border-bottom: 3px solid #55c57a;
   }
   .form__input:focus:invalid {
      border-bottom: 3px solid #ff3e30;
   }

   // .form__group {
   //    margin-bottom: 2.5rem;
   // }

   .form__label {
      color: $color-primary-strong;
      display: block;
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 0.75rem;
   }
}

.content {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.btn {
   background-color: $color-white;
   color: $color-primary-strong;
   border: none;
   font-family: inherit;
   font-size: 1.5rem;
   text-transform: uppercase;
   padding: 1.8rem 3rem;
   cursor: pointer;

   outline: none;
   transition: all 0.3s;
}
