.container {
   background-color: var(--color-main-back);
   //box-shadow: var(--shadow-color);

   //min-height: 50rem;
}

.store__container {
   background-color: var(--color-main-back);
   display: grid;

   grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
   grid-template-columns:
      [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(
         8,
         [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] minmax(22rem, 1fr) [full-end];

   @media only screen and (max-width: $bp-seven) {
      grid-template-columns:
         [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(
            8,
            [col-start] minmax(min-content, 14rem) [col-end]
         )
         [center-end] minmax(11rem, 1fr) [full-end];
   }
}

.content {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.btn {
   background-color: $color-white;
   color: $color-primary-strong;
   border: none;
   border-radius: o;
   font-family: inherit;
   font-size: 1.5rem;
   text-transform: uppercase;
   padding: 1.8rem 3rem;
   cursor: pointer;

   outline: none;
   transition: all 0.3s;
}
