footer.footer
  ul.nav
    li.nav__item: a.nav__link(href='#') Arte para todos os gostos
    li.nav__item: a.nav__link(href='#') Fazer Pedido
    li.nav__item: a.nav__link(href='#') Redes Sociais
    li.nav__item: a.nav__link(href='#') Contacte-nos
    li.nav__item: a.nav__link(href='#') Enviar Arte
    li.nav__item: a.nav__link(href='#') Trabalhe Connosco
  p.copyright: | &copy; Criado Por &ldquo;CLILINE - A sua clinica online&rdquo;, todos os deireitos Reservados.
