footer.footer
    .footer__logo
        img(src='/imagens/lalitaa/lalitaa_logo_black.png' alt='Lalitaa Logo') 
    ul.footer__nav
        li: a(href='#') Sobre nós
        li: a(href='#') Download Apps
        li: a(href='#') Torna-te num vendedor
        li: a(href='#') Carreiras
        li: a(href='#') Privacidade
        li: a(href='#') Termos
    p.footer__copyright &copy; Por Mateus Neto