extends base
block content
    include _sidebar
    .chat__container
        a.chat__container__link(href='/chat/private')
            .chat__contact
                img.chat__contact__photo.chat__contact__photo--online(src='./imagens/dev/usuarios/mateus.jpg' alt='')
                span.chat__contact--name Mateus Neto
        a.chat__container__link(href='/chat/private')
            .chat__contact
                img.chat__contact__photo.chat__contact__photo--offline(src='./imagens/dev/usuarios/Raquel.jpg' alt='')
                span.chat__contact--name Raquel Neto
        a.chat__container__link(href='/chat/private')
            .chat__contact
                img.chat__contact__photo.chat__contact__photo--online(src='./imagens/dev/usuarios/mariarosa1.jpeg' alt='')
                span.chat__contact--name Maria Rosa
        a.chat__container__link(href='/chat/private')
            .chat__contact
                img.chat__contact__photo.chat__contact__photo--online(src='./imagens/dev/lojas/boutiqueragazza.jpg' alt='')
                span.chat__contact--name Boutique Ragazza
        a.chat__container__link(href='/chat/private')
            .chat__contact
                img.chat__contact__photo.chat__contact__photo--online(src='./imagens/dev/usuarios/kayra.jpg' alt='')
                span.chat__contact--name Kayra Rafaela
        .chat__group
