extends base
block content
    include _sidebar
    .newStoreDashboard__container
        section.newStoreDashboard
            .newStoreDashboard__item
                form.form.form--createStore(action='#')
                    .form__group
                        label.form__label(for='nome') Nome da loja
                        input#nome.form__input(type='text' name='' placeholder='' required='')
                    .form__group
                        label.form__label(for='nomeLoja') Nome unico da loja
                        input#nomeLoja.form__input(type='text' name='' placeholder='' required='')
                    .form__group
                        label.form__label(for='numeroTelemovelLoja') Numero de telemovel
                        input#numeroTelemovelLoja.form__input(type='text' name='' placeholder='' required='')
                    .form__group
                        button.btn.criarLoja__btn Criar loja
