extends base
block content
    include sidebarChat
    if usuario && !storeOwner
        .private__chat__container
            .messages
                ul.messages__list
                    li.messages__list--info= `Conversando com ${usuario.nome}`
            form.message__input
                input.message__input--box(type='text' required="required")
                button.message__input__sendBtn
                    span Enviar
                    svg.message__input__sendBtn--icon
                        use(xlink:href='/imagens/dev/sprite.svg#icon-send')
    if storeOwner && !usuario
        .private__chat__container
            .messages
                ul.messages__list
                    li.messages__list--info= `Conversando com ${storeOwner.nome}`
            form.message__input
                input.message__input--box(type='text' required="required")
                button.message__input__sendBtn
                    span Enviar
                    svg.message__input__sendBtn--icon
                        use(xlink:href='/imagens/dev/sprite.svg#icon-send')
    //- if storeOwner && usuario