.content
  nav.sidebar
    ul.side-nav
      li.side-nav__item.side-nav__item--active
        a.side-nav__link(href='/lojas')
          svg.side-nav__icon
            use(xlink:href='/imagens/dev/sprite2.svg#icon-shop')
          span Lojas
      li.side-nav__item
        a.side-nav__link(href='/galeria')
          svg.side-nav__icon
            use(xlink:href='/imagens/dev/sprite.svg#icon-image')
          span Galeria
      li.side-nav__item
        a.side-nav__link(href='/categorias')
          svg.side-nav__icon
            use(xlink:href='/imagens/dev/sprite.svg#icon-tag')
          span Categorias
      if (url === '/donoloja/me')
        button.side-nav__compras
          svg.side-nav__icon
            use(xlink:href='/imagens/dev/sprite.svg#icon-shopping-bag')
          span VENDAS
        a.side-nav__minhaslojas(href='/minhaslojas')
          svg.side-nav__icon
            use(xlink:href='/imagens/dev/sprite.svg#icon-home')
          span Minhas lojas
        button#storeOwnerLogout.side-nav__storeOwnerLogoutbtn
          svg.side-nav__icon
            use(xlink:href='/imagens/dev/sprite.svg#icon-log-out')
          span Sair