.content
  nav.sidebar
    ul.side-nav
      li.side-nav__item.side-nav__item--active
        a.side-nav__link(href='/lojas')
          svg.side-nav__icon
            use(xlink:href='/imagens/dev/sprite2.svg#icon-shop')
          span Lojas
      li.side-nav__item
        a.side-nav__link(href='/galeria')
          svg.side-nav__icon
            use(xlink:href='/imagens/dev/sprite.svg#icon-image')
          span Galeria
      li.side-nav__item
        a.side-nav__link(href='/categorias')
          svg.side-nav__icon
            use(xlink:href='/imagens/dev/sprite.svg#icon-tag')
          span Categorias
      if lojas && !usuario && !storeOwner
        button.side-nav__generobtn--homem
          svg.side-nav__icon
            use(xlink:href='/imagens/dev/sprite2.svg#icon-man')
          span Homem
      else if lojas && usuario && !storeOwner
        button.side-nav__generobtn--homem
          svg.side-nav__icon
            use(xlink:href='/imagens/dev/sprite2.svg#icon-man')
          span Homem
      else if lojas && !usuario && storeOwner
        button.side-nav__generobtn--homem
          svg.side-nav__icon
            use(xlink:href='/imagens/dev/sprite2.svg#icon-man')
          span Homem