.content
  nav.sidebar
    ul.side-nav
      li.side-nav__item.side-nav__item--active
        a.side-nav__link(href='/lojas')
          svg.side-nav__icon
            use(xlink:href='/imagens/dev/sprite2.svg#icon-shop')
          span Lojas
      li.side-nav__item
        a.side-nav__link(href='/galeria')
          svg.side-nav__icon
            use(xlink:href='/imagens/dev/sprite.svg#icon-image')
          span Galeria
      li.side-nav__item
        a.side-nav__link(href='/categorias')
          svg.side-nav__icon
            use(xlink:href='/imagens/dev/sprite.svg#icon-tag')
          span Categorias
    a.img__link(href=`/donoloja/chat/${loja.id}`)
      img.side-nav__store__img(src=`/imagens/dev/lojas/${loja.imagemDeCapa}` alt='')
    img.side-nav__store__img(src=`/imagens/dev/usuarios/${chatUsuario.fotografia}` alt='')
    button.side-nav__chat--apagar
        svg.side-nav__icon
          use(xlink:href='/imagens/dev/sprite.svg#icon-trash-2')
        span Apagar Conversa