/*
COLORS


foto: #f9b3b6

Primary: #ffc0cb
Primary light: #fcdce4 
Primary dark: #c99ca5
Primary white: #fcf0f2
Primary strong: #84646c


shadow: #846c6c
shadow light: #9f7d84


grey: #9b9c9c
grey 2: #989c94
*/
:root {
  --color-primary: #ffc0cb;
  --color-primary-light: #fcdce4;
  --color-primary-dark: #d6a5ae;
  --color-primary-white: #fcf0f2;
  --color-primary-strong: #9e747e;
  --color-primary-strong-2: #8b676f;
  --color-login: #ff91a3;
  --color-gold: rgb(255, 215, 0);
  --color-gold-light: rgb(255, 230, 89);
  --color-gold-strong: rgb(192, 163, 0);
  --color-orange: rgb(255, 166, 0);
  --color-orange-light: rgb(248, 188, 76);
  --color-orange-strong: rgb(173, 113, 0);
  --color-red: rgb(255, 0, 0);
  --color-red-light: rgb(255, 89, 89);
  --color-red-strong: rgb(173, 0, 0);
  --color-blue: rgb(0, 191, 255);
  --color-blue-light: rgb(102, 217, 255);
  --color-blue-strong: rgb(8, 149, 196);
  --color-white: rgb(255, 255, 255);
  --color-white-grey: rgb(236, 236, 236);
  --color-black: rgb(0, 0, 0);
  --color-main-back: #8d8f8d;
  --shadow-color: 0px 0px 0.3px 0.8px var(--color-primary);
  --shadow-color-light: #9f7d84;
  --shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.103);
  --shadow-2: 0 0.3rem 0.5rem rgba(155, 58, 58, 0.479);
  --grey-color: #a6aaaa;
  --grey-color-light: #c6cac2;
  --grey-color-dark: #818380; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--grey-color);
  background-color: var(--color-main-back);
  background-size: cover;
  background-repeat: no-repeat; }

a {
  text-decoration: none; }

.container {
  background-color: var(--color-main-back); }

.store__container {
  background-color: var(--color-main-back);
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(22rem, 1fr) [full-end]; }
  @media only screen and (max-width: 43.75rem) {
    .store__container {
      grid-template-columns: [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(11rem, 1fr) [full-end]; } }

.produto__container {
  background-color: var(--color-main-back);
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(22rem, 1fr) [full-end]; }
  @media only screen and (max-width: 43.75rem) {
    .produto__container {
      grid-template-columns: [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(11rem, 1fr) [full-end]; } }

.userDashboard__container {
  background-color: var(--color-main-back);
  display: grid;
  height: 100vh;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(22rem, 1fr) [full-end]; }
  @media only screen and (max-width: 43.75rem) {
    .userDashboard__container {
      grid-template-columns: [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(11rem, 1fr) [full-end]; } }

.storeOwnerDashboard__container {
  background-color: var(--color-main-back);
  display: grid;
  height: 100vh;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(22rem, 1fr) [full-end]; }
  @media only screen and (max-width: 43.75rem) {
    .storeOwnerDashboard__container {
      grid-template-columns: [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(11rem, 1fr) [full-end]; } }

.newStoreDashboard__container {
  background-color: var(--color-main-back);
  display: grid;
  height: 100vh;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(22rem, 1fr) [full-end]; }
  @media only screen and (max-width: 43.75rem) {
    .newStoreDashboard__container {
      grid-template-columns: [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(11rem, 1fr) [full-end]; } }

.produtoDashboard__container {
  background-color: var(--color-main-back);
  display: grid;
  height: 100vh;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(22rem, 1fr) [full-end]; }
  @media only screen and (max-width: 43.75rem) {
    .produtoDashboard__container {
      grid-template-columns: [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(11rem, 1fr) [full-end]; } }

.main {
  display: flex;
  position: relative;
  padding-top: 5rem; }
  @media only screen and (max-width: 43.75rem) {
    .main {
      padding-right: 9rem; } }

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%; }
  .form .form__input {
    color: #818380;
    display: block;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.25rem 1.75rem;
    border: none;
    width: 100%;
    background-color: #e4e3e3;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* Pseudo element (a visible thing that isn't really in the DOM).
          Also needs -ms- */ }
  .form .form__input:focus {
    outline: none;
    border-bottom: 3px solid #55c57a; }
  .form .form__input:focus:invalid {
    border-bottom: 3px solid #ff3e30; }
  .form .form__label {
    color: #9e747e;
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.75rem; }

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.btn {
  background-color: white;
  color: #9e747e;
  border: none;
  font-family: inherit;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  outline: none;
  transition: all 0.3s; }

.header {
  z-index: 100;
  font-size: 1.4rem;
  height: 7rem;
  width: 100%;
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.103); }

.logo {
  height: 5.25rem;
  margin-left: 2rem;
  cursor: pointer; }

/*.logo__box {
   box-shadow: var(--shadow);
   font-size: 0.8rem;
   font-weight: bold;
   height: 6rem;
   width: 6rem;
   border-radius: 50%;
   background-color: var(--color-primary-light);
   color: var(--color-black);
   position: absolute;
   // top: 0.3rem;
   // left: 3rem;

   display: flex;
   justify-content: center;
   align-items: center;
}

.logo--try {
   width: 90%;
}*/
.search {
  flex: 0 0 20%;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  @media only screen and (max-width: 33.125rem) {
    .search {
      display: none; } }
  .search__input {
    display: none;
    box-shadow: var(--shadow);
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-primary-strong);
    background-color: var(--color-primary);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-primary-light); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-primary-strong); }
  .search__input:focus + .search__button {
    background-color: var(--color-primary-light); }
  .search__button {
    display: none;
    border: none;
    background-color: var(--color-primary);
    transition: all 0.2s; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-primary-strong); }

.user-nav {
  background-color: var(--color-white);
  align-self: stretch;
  display: flex;
  align-items: center;
  box-shadow: var(--shadow); }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav__link {
    display: flex;
    align-items: center; }
  .user-nav__icon-box {
    position: relative; }
    .user-nav__icon-box:hover {
      background-color: var(--color-primary-light); }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-primary-strong); }
  .user-nav__notification {
    box-shadow: var(--shadow);
    font-size: 0.8rem;
    font-weight: bold;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-black);
    position: absolute;
    top: 1.5rem;
    right: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__loginbtn {
    color: white;
    background-color: #9e747e;
    border: none;
    font-size: 1.7rem;
    border-radius: 2px;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103);
    height: 5rem;
    max-width: 15rem;
    z-index: 2;
    justify-self: end;
    margin: 1rem;
    cursor: pointer; }
    .user-nav__loginbtn:hover {
      background-color: #d6a5ae; }
    .user-nav__loginbtn:active {
      background-color: #9e747e; }
    .user-nav__loginbtn svg {
      fill: #9e747e;
      height: 2rem;
      width: 2rem; }
  .user-nav__user {
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103);
    background-color: white; }
    @media only screen and (max-width: 33.125rem) {
      .user-nav__user span {
        display: none; } }
  .user-nav__user-photo {
    box-shadow: var(--shadow-2);
    height: 3.75rem;
    border-radius: 4px;
    margin-right: 1rem; }
  .user-nav__user-name {
    color: var(--color-primary-strong); }
  .user-nav__donolojaLoginbtn {
    color: white;
    background-color: deepskyblue;
    border: none;
    font-size: 1.7rem;
    border-radius: 2px;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103);
    height: 5rem;
    max-width: 15rem;
    z-index: 2;
    justify-self: end;
    margin: 1rem;
    cursor: pointer; }
    .user-nav__donolojaLoginbtn:hover {
      background-color: #66d9ff; }
    .user-nav__donolojaLoginbtn:active {
      background-color: #0895c4; }
    .user-nav__donolojaLoginbtn svg {
      fill: #9e747e;
      height: 2rem;
      width: 2rem; }

.sidebar {
  z-index: 10;
  background-color: #9e747e;
  margin-top: 7rem;
  flex: 0 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.103); }

.side-nav {
  font-size: 1.7rem;
  list-style: none;
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  text-transform: uppercase; }
  @media only screen and (max-width: 43.75rem) {
    .side-nav {
      height: 17.5rem;
      width: 9rem; }
      .side-nav span {
        display: none; } }
  .side-nav__item {
    position: relative;
    transition: all 0.2s; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
    @media only screen and (max-width: 43.75rem) {
      .side-nav__item:not(:last-child) {
        margin-bottom: 0.5rem; } }
  .side-nav__item::before {
    box-shadow: var(--shadow);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0px;
    background-color: var(--color-white);
    transform-origin: left;
    transform: scaleX(0);
    transition: all 0.2s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleX(1);
    width: 3%; }
    @media only screen and (max-width: 43.75rem) {
      .side-nav__item:hover::before, .side-nav__item--active::before {
        transform: scaleX(2);
        width: 3%; } }
  .side-nav__item:active::before {
    background-color: var(--color-primary); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-white);
    text-decoration: none;
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center; }
  .side-nav__icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    fill: currentColor; }
  .side-nav__store__img {
    background-color: var(--color-primary-strong);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103);
    border-top: 2px solid #9e747e;
    width: 20rem; }
    @media only screen and (max-width: 43.75rem) {
      .side-nav__store__img {
        width: 9rem; } }
  .side-nav__compras {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: gold;
    color: #9e747e;
    border: none;
    font-family: inherit;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103); }
    .side-nav__compras svg {
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
    .side-nav__compras:hover {
      background-color: #ffe659; }
    .side-nav__compras:active {
      background-color: #c0a300; }
    @media only screen and (max-width: 43.75rem) {
      .side-nav__compras {
        padding-right: 2rem;
        width: 9rem; }
        .side-nav__compras span {
          display: none; } }
  .side-nav__lojas {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    background-color: deepskyblue;
    color: white;
    border: none;
    font-family: inherit;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103); }
    .side-nav__lojas svg {
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
    .side-nav__lojas:hover {
      background-color: #66d9ff; }
    .side-nav__lojas:active {
      background-color: #0895c4; }
    @media only screen and (max-width: 43.75rem) {
      .side-nav__lojas {
        padding-right: 2rem;
        width: 9rem; }
        .side-nav__lojas span {
          display: none; } }
  .side-nav__criarLoja {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    background-color: #51cc51;
    color: white;
    border: none;
    font-family: inherit;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103); }
    .side-nav__criarLoja svg {
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
    .side-nav__criarLoja:hover {
      background-color: #67e267; }
    .side-nav__criarLoja:active {
      background-color: #0a8d0a; }
    @media only screen and (max-width: 43.75rem) {
      .side-nav__criarLoja {
        padding-right: 2rem;
        width: 9rem; }
        .side-nav__criarLoja span {
          display: none; } }
  .side-nav__generobtn--homem {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    background-color: deepskyblue;
    color: white;
    border: none;
    font-family: inherit;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103); }
    .side-nav__generobtn--homem svg {
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
    .side-nav__generobtn--homem:hover {
      background-color: #66d9ff; }
    .side-nav__generobtn--homem:active {
      background-color: #0895c4; }
    @media only screen and (max-width: 43.75rem) {
      .side-nav__generobtn--homem {
        padding-right: 2rem;
        width: 9rem; }
        .side-nav__generobtn--homem span {
          display: none; } }
  .side-nav__sharebtn {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffa600;
    color: white;
    border: none;
    font-family: inherit;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103); }
    .side-nav__sharebtn svg {
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
    .side-nav__sharebtn:hover {
      background-color: #f8bc4c; }
    .side-nav__sharebtn:active {
      background-color: #ad7100; }
    @media only screen and (max-width: 43.75rem) {
      .side-nav__sharebtn {
        padding-right: 2rem;
        width: 9rem; }
        .side-nav__sharebtn span {
          display: none; } }
  .side-nav__chatbtn {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #d6a5ae;
    color: white;
    border: none;
    font-family: inherit;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103); }
    .side-nav__chatbtn svg {
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
    .side-nav__chatbtn:hover {
      background-color: #ffc0cb; }
    .side-nav__chatbtn:active {
      background-color: #9e747e; }
    @media only screen and (max-width: 43.75rem) {
      .side-nav__chatbtn {
        padding-right: 2rem;
        width: 9rem; }
        .side-nav__chatbtn span {
          display: none; } }
  .side-nav__callbtn {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #51cc51;
    color: white;
    border: none;
    border-radius: o;
    font-family: inherit;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103); }
    .side-nav__callbtn svg {
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
    .side-nav__callbtn:hover {
      background-color: #67e267; }
    .side-nav__callbtn:active {
      background-color: #348834; }
    @media only screen and (max-width: 43.75rem) {
      .side-nav__callbtn {
        padding-right: 2rem;
        width: 9rem; }
        .side-nav__callbtn span {
          display: none; } }
  .side-nav__logoutbtn {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ff5959;
    color: white;
    border: none;
    border-radius: o;
    font-family: inherit;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103); }
    .side-nav__logoutbtn svg {
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
    .side-nav__logoutbtn:hover {
      background-color: #ff5959; }
    .side-nav__logoutbtn:active {
      background-color: #ad0000; }
    @media only screen and (max-width: 43.75rem) {
      .side-nav__logoutbtn {
        padding-right: 2rem;
        width: 9rem; }
        .side-nav__logoutbtn span {
          display: none; } }
  .side-nav__storeOwnerLogoutbtn {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ff5959;
    color: white;
    border: none;
    border-radius: o;
    font-family: inherit;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103); }
    .side-nav__storeOwnerLogoutbtn svg {
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
    .side-nav__storeOwnerLogoutbtn:hover {
      background-color: #ff5959; }
    .side-nav__storeOwnerLogoutbtn:active {
      background-color: #ad0000; }
    @media only screen and (max-width: 43.75rem) {
      .side-nav__storeOwnerLogoutbtn {
        padding-right: 2rem;
        width: 9rem; }
        .side-nav__storeOwnerLogoutbtn span {
          display: none; } }

.stores {
  grid-column: sidebar-end/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  background-color: var(--color-main-back);
  padding-top: 10rem;
  color: var(--color-white); }

.store {
  background-color: var(--color-primary-strong);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103);
  /*
   &__btn--2 {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      grid-column: 1 / 2;
      background-color: $color-green;
      color: $color-white;
      //grid-gap: 0.2rem;
      svg {
         fill: $color-white;
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-green-light;
      }
      &:active {
         background-color: $color-green-dark;
      }
   }*/ }
  .store__img {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1; }
  .store__like {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    fill: #9e747e;
    height: 2.5rem;
    width: 2.5rem;
    z-index: 2;
    justify-self: end;
    margin: 1rem;
    cursor: pointer; }
  .store__nome {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    width: 100%;
    z-index: 3;
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: #9e747e;
    color: white;
    font-weight: 400;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103); }
    .store__nome--min {
      width: 100%;
      z-index: 3;
      padding: 1.25rem;
      font-family: "Lato", sans-serif;
      font-size: 1.6rem;
      text-align: center;
      background-color: #6e5359;
      color: white;
      font-weight: 400; }
      @media only screen and (max-width: 43.75rem) {
        .store__nome--min {
          display: none; } }
  .store__status, .store__rating, .store__type, .store__delivery, .store__location, .store__detail {
    font-size: 1.6rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: stretch; }
    .store__status svg, .store__rating svg, .store__type svg, .store__delivery svg, .store__location svg, .store__detail svg {
      fill: white;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
  .store__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 3;
    grid-gap: 0.7rem; }
    .store__btn svg {
      fill: #9e747e;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
    .store__btn:hover {
      background-color: #c6cac2; }
    .store__btn:active {
      background-color: #818380; }

.produtos {
  grid-column: sidebar-end/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  background-color: var(--color-main-back);
  padding-top: 10rem;
  color: var(--color-white); }

.produto {
  background-color: var(--color-primary-strong);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103);
  max-width: 34rem;
  /*
    &__btn--2 {
       display: flex;
       align-items: center;
       justify-content: space-evenly;
       grid-column: 1 / 2;
       background-color: $color-green;
       color: $color-white;
       //grid-gap: 0.2rem;
       svg {
          fill: $color-white;
          height: 2rem;
          width: 2rem;
          margin-right: 1rem;
       }
 
       &:hover {
          background-color: $color-green-light;
       }
       &:active {
          background-color: $color-green-dark;
       }
    }*/ }
  .produto:active .produto__nome {
    background-color: #d6a5ae; }
  .produto__img {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1;
    max-width: 34rem;
    cursor: pointer; }
    .produto__img:hover {
      box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103); }
  .produto__like {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    fill: #9e747e;
    height: 2.5rem;
    width: 2.5rem;
    z-index: 2;
    justify-self: end;
    margin: 1rem;
    cursor: pointer; }
  .produto__nome {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    width: 100%;
    z-index: 3;
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: #9e747e;
    color: white;
    font-weight: 400;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103); }
  .produto__status, .produto__preco, .produto__tamanho, .produto__cor, .produto__tipo, .produto__detail {
    font-size: 1.6rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: stretch; }
    .produto__status svg, .produto__preco svg, .produto__tamanho svg, .produto__cor svg, .produto__tipo svg, .produto__detail svg {
      fill: white;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
  .produto__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 3;
    grid-gap: 0.7rem; }
    .produto__btn svg {
      fill: #9e747e;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
    .produto__btn:hover {
      background-color: #c6cac2; }
    .produto__btn:active {
      background-color: #818380; }

.login__form {
  margin: 6rem auto;
  max-width: 55rem;
  background-color: white;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103);
  padding: 5rem 7rem;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.login__form__header {
  height: 8rem;
  margin-bottom: 3rem;
  /* display: flex;
   justify-content: center;
   align-content: end;

   color: $color-white;
   background-color: $color-primary-strong;
   border: none;
   font-size: 1.7rem;
   border-radius: 2px;
   box-shadow: $shadow-2;
   padding: 2rem 4rem;

   z-index: 2;
   margin-bottom: 2rem;*/ }

.save-password__btn {
  background-color: var(--color-primary-strong);
  color: var(--color-white);
  justify-items: end;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103);
  border-radius: 2px; }
  .save-password__btn:hover {
    background-color: #d6a5ae; }
  .save-password__btn:active {
    background-color: #9e747e; }

.save-details__btn {
  background-color: var(--color-primary-strong);
  color: var(--color-white);
  justify-items: end;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103);
  border-radius: 2px; }
  .save-details__btn:hover {
    background-color: #d6a5ae; }
  .save-details__btn:active {
    background-color: #9e747e; }

.login__btn {
  background-color: var(--color-primary-strong);
  color: var(--color-white);
  justify-items: end;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103);
  border-radius: 2px; }
  .login__btn:hover {
    background-color: #d6a5ae; }
  .login__btn:active {
    background-color: #9e747e; }

.signup__btn {
  margin-top: 1rem;
  background-color: #c0a300;
  border-radius: 2px;
  color: white; }
  .signup__btn:hover {
    background-color: gold; }
  .signup__btn:active {
    background-color: #c0a300; }

.signup__form {
  margin: 6rem auto;
  max-width: 55rem;
  background-color: white;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103);
  padding: 5rem 7rem;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.donoLojaSignup__form {
  margin: 6rem auto;
  max-width: 55rem;
  background-color: white;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103);
  padding: 5rem 7rem;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.userDashboard {
  grid-column: sidebar-end/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  background-color: var(--color-main-back);
  padding-top: 10rem;
  color: var(--color-white); }

.userDashboard__item {
  background-color: var(--color-white);
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  align-items: center;
  justify-items: center;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103);
  border-radius: 2px;
  width: 30rem;
  height: 45rem;
  /*
     &__btn--2 {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        grid-column: 1 / 2;
        background-color: $color-green;
        color: $color-white;
        //grid-gap: 0.2rem;
        svg {
           fill: $color-white;
           height: 2rem;
           width: 2rem;
           margin-right: 1rem;
        }
  
        &:hover {
           background-color: $color-green-light;
        }
        &:active {
           background-color: $color-green-dark;
        }
     }*/ }

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  align-items: center;
  justify-items: center; }
  .form__userimg {
    width: 50%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1;
    border-radius: 2px;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103); }
  .form .form__upload {
    width: 2rem;
    height: 2rem;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
  .form .form__upload + label {
    padding: 1rem 3.2rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    background-color: var(--color-primary-strong);
    color: var(--color-white);
    justify-items: end;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103);
    border-radius: 2px; }
    .form .form__upload + label:hover {
      background-color: #d6a5ae; }
    .form .form__upload + label:active {
      background-color: #9e747e; }
  .form .form__update {
    background-color: var(--color-primary-strong);
    color: var(--color-white);
    justify-items: end;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103);
    border-radius: 2px; }
    .form .form__update:hover {
      background-color: #d6a5ae; }
    .form .form__update:active {
      background-color: #9e747e; }
  .form__nome {
    color: black;
    font-size: 2rem; }
  .form__btn {
    grid-column: 1 / -1;
    grid-gap: 0.7rem;
    background-color: #9e747e;
    color: white; }
    .form__btn svg {
      fill: #9e747e;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
    .form__btn:hover {
      background-color: #c6cac2; }
    .form__btn:active {
      background-color: #818380; }

.storeOwnerDashboard {
  grid-column: sidebar-end/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  background-color: var(--color-main-back);
  padding-top: 10rem;
  color: var(--color-white); }

.storeOwnerDashboard__item {
  background-color: var(--color-white);
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  align-items: center;
  justify-items: center;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103);
  border-radius: 2px;
  width: 30rem;
  height: 45rem;
  /*
      &__btn--2 {
         display: flex;
         align-items: center;
         justify-content: space-evenly;
         grid-column: 1 / 2;
         background-color: $color-green;
         color: $color-white;
         //grid-gap: 0.2rem;
         svg {
            fill: $color-white;
            height: 2rem;
            width: 2rem;
            margin-right: 1rem;
         }
   
         &:hover {
            background-color: $color-green-light;
         }
         &:active {
            background-color: $color-green-dark;
         }
      }*/ }

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  align-items: center;
  justify-items: center; }
  .form__storeOwnerimg {
    width: 50%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1;
    border-radius: 2px;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103); }
  .form .form__upload {
    width: 2rem;
    height: 2rem;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
  .form .form__upload + label {
    padding: 1rem 3.2rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    background-color: var(--color-primary-strong);
    color: var(--color-white);
    justify-items: end;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103);
    border-radius: 2px; }
    .form .form__upload + label:hover {
      background-color: #d6a5ae; }
    .form .form__upload + label:active {
      background-color: #9e747e; }
  .form .form__update {
    background-color: var(--color-primary-strong);
    color: var(--color-white);
    justify-items: end;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103);
    border-radius: 2px; }
    .form .form__update:hover {
      background-color: #d6a5ae; }
    .form .form__update:active {
      background-color: #9e747e; }
  .form__nome {
    color: black;
    font-size: 2rem; }
  .form__btn {
    grid-column: 1 / -1;
    grid-gap: 0.7rem;
    background-color: #9e747e;
    color: white; }
    .form__btn svg {
      fill: #9e747e;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
    .form__btn:hover {
      background-color: #c6cac2; }
    .form__btn:active {
      background-color: #818380; }

.newStoreDashboard {
  grid-column: sidebar-end/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  background-color: var(--color-main-back);
  padding-top: 10rem;
  color: var(--color-white); }

.newStoreDashboard__item {
  background-color: var(--color-white);
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  align-items: center;
  justify-items: center;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103);
  border-radius: 2px;
  width: 30rem;
  height: 45rem;
  /*
      &__btn--2 {
         display: flex;
         align-items: center;
         justify-content: space-evenly;
         grid-column: 1 / 2;
         background-color: $color-green;
         color: $color-white;
         //grid-gap: 0.2rem;
         svg {
            fill: $color-white;
            height: 2rem;
            width: 2rem;
            margin-right: 1rem;
         }
   
         &:hover {
            background-color: $color-green-light;
         }
         &:active {
            background-color: $color-green-dark;
         }
      }*/ }

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  align-items: center;
  justify-items: center; }
  .form__userimg {
    width: 50%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1;
    border-radius: 2px;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103); }
  .form .form__upload {
    width: 2rem;
    height: 2rem;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
  .form .form__upload + label {
    padding: 1rem 3.2rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    background-color: var(--color-primary-strong);
    color: var(--color-white);
    justify-items: end;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103);
    border-radius: 2px; }
    .form .form__upload + label:hover {
      background-color: #d6a5ae; }
    .form .form__upload + label:active {
      background-color: #9e747e; }
  .form .form__update {
    background-color: var(--color-primary-strong);
    color: var(--color-white);
    justify-items: end;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103);
    border-radius: 2px; }
    .form .form__update:hover {
      background-color: #d6a5ae; }
    .form .form__update:active {
      background-color: #9e747e; }
  .form__nome {
    color: black;
    font-size: 2rem; }
  .form__btn {
    grid-column: 1 / -1;
    grid-gap: 0.7rem;
    background-color: #9e747e;
    color: white; }
    .form__btn svg {
      fill: #9e747e;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
    .form__btn:hover {
      background-color: #c6cac2; }
    .form__btn:active {
      background-color: #818380; }

.produtoDashboard {
  grid-column: sidebar-end/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  background-color: var(--color-main-back);
  padding-top: 10rem;
  color: var(--color-white); }

.produtoDashboard__item {
  background-color: var(--color-white);
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  align-items: center;
  justify-items: center;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103);
  border-radius: 2px;
  width: 100%;
  height: 100%;
  padding: 1rem;
  /*
      &__btn--2 {
         display: flex;
         align-items: center;
         justify-content: space-evenly;
         grid-column: 1 / 2;
         background-color: $color-green;
         color: $color-white;
         //grid-gap: 0.2rem;
         svg {
            fill: $color-white;
            height: 2rem;
            width: 2rem;
            margin-right: 1rem;
         }
   
         &:hover {
            background-color: $color-green-light;
         }
         &:active {
            background-color: $color-green-dark;
         }
      }*/ }

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  align-items: center;
  justify-items: center; }
  .form__userimg {
    width: 50%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1;
    border-radius: 2px;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103); }
  .form .form__upload {
    width: 2rem;
    height: 2rem;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
  .form .form__upload + label {
    padding: 1rem 3.2rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    background-color: var(--color-primary-strong);
    color: var(--color-white);
    justify-items: end;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103);
    border-radius: 2px; }
    .form .form__upload + label:hover {
      background-color: #d6a5ae; }
    .form .form__upload + label:active {
      background-color: #9e747e; }
  .form .form__update {
    background-color: var(--color-primary-strong);
    color: var(--color-white);
    justify-items: end;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.103);
    border-radius: 2px; }
    .form .form__update:hover {
      background-color: #d6a5ae; }
    .form .form__update:active {
      background-color: #9e747e; }
  .form__nome {
    color: black;
    font-size: 2rem; }
  .form__btn {
    grid-column: 1 / -1;
    grid-gap: 0.7rem;
    background-color: #9e747e;
    color: white; }
    .form__btn svg {
      fill: #9e747e;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
    .form__btn:hover {
      background-color: #c6cac2; }
    .form__btn:active {
      background-color: #818380; }
