/*
COLORS


foto: #f9b3b6

Primary: #ffc0cb
Primary light: #fcdce4
Primary dark: #c99ca5
Primary white: #fcf0f2
Primary strong: #84646c


shadow: #846c6c
shadow light: #9f7d84


grey: #9b9c9c
grey 2: #989c94
*/
:root {
  --color-primary: #ffc0cb;
  --color-primary-light: #fcdce4;
  --color-primary-dark: #c99ca5;
  --color-primary-white: #fcf0f2;
  --color-primary-strong: #84646c;
  --color-white: rgb(255, 255, 255);
  --color-white-grey: rgb(236, 236, 236);
  --color-main-back: rgb(212, 177, 177);
  --shadow-color: 0 2rem 6rem #846c6c;
  --shadow-color-light: #9f7d84;
  --grey-color: #a6aaaa;
  --grey-color-light: #c6cac2;
  --grey-color-dark: #818380; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--grey-color);
  background-image: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat; }

.container {
  background-color: var(--grey-color-dark);
  box-shadow: var(--shadow-color); }

.content {
  display: flex; }

.header {
  z-index: 1000;
  font-size: 1.4rem;
  height: 7rem;
  width: 100%;
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.103); }

.logo {
  height: 5.25rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 33.125rem) {
    .search {
      display: none; } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-primary-white);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-primary-light); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-primary-strong); }
  .search__input:focus + .search__button {
    background-color: var(--color-primary-light); }
  .search__button {
    border: none;
    background-color: var(--color-primary-white);
    transition: all 0.2s; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-primary-strong); }

.user-nav {
  background-color: var(--color-white);
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-primary-light); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-primary-strong); }
  .user-nav__notification {
    font-size: 0.8rem;
    font-weight: bold;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-primary-strong);
    position: absolute;
    top: 1.5rem;
    right: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  @media only screen and (max-width: 25rem) {
    .user-nav__user span {
      display: none; } }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .user-nav__user-name {
    font-weight: bold;
    color: var(--color-primary-strong); }

.sidebar {
  z-index: 1000;
  background-color: var(--color-white);
  margin-top: 7rem;
  flex: 0 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.103); }

.side-nav {
  font-size: 1.7rem;
  list-style: none;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 43.75rem) {
    .side-nav {
      height: 17.5rem;
      width: 9rem; }
      .side-nav span {
        display: none; } }
  .side-nav__item {
    position: relative;
    transition: all 0.2s; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
  .side-nav__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0px;
    background-color: var(--color-primary);
    transform-origin: left;
    transform: scaleX(0);
    transition: all 0.2s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleX(1);
    width: 3%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-strong); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-primary-strong);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center; }
  .side-nav__icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    fill: currentColor; }

.stores {
  background-color: var(--color-main-back);
  padding: 10rem 20rem;
  min-height: 130vh; }
  @media only screen and (max-width: 43.75rem) {
    .stores {
      padding: 10rem 10rem; } }
