.header {
   z-index: 100;
   font-size: 1.4rem;
   height: 7rem;
   width: 100%;
   background-color: var(--color-white);

   display: flex;

   justify-content: space-between;
   align-items: center;
   position: fixed;
   box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.103);
}

////////////////////////////////////////
// LOGO
.logo {
   height: 5.25rem;
   margin-left: 2rem;
   cursor: pointer;
}

/*.logo__box {
   box-shadow: var(--shadow);
   font-size: 0.8rem;
   font-weight: bold;
   height: 6rem;
   width: 6rem;
   border-radius: 50%;
   background-color: var(--color-primary-light);
   color: var(--color-black);
   position: absolute;
   // top: 0.3rem;
   // left: 3rem;

   display: flex;
   justify-content: center;
   align-items: center;
}

.logo--try {
   width: 90%;
}*/

////////////////////////////////////////
// SEARCH BOX
.search {
   @media only screen and (max-width: $bp-five) {
      display: none;
   }

   flex: 0 0 20%;
   justify-self: center;

   display: flex;
   align-items: center;
   justify-content: flex-end;

   &__input {
      display: none;
      box-shadow: var(--shadow);
      font-family: inherit;
      font-size: 1.5rem;
      font-weight: bold;
      color: var(--color-primary-strong);
      background-color: var(--color-primary);
      border: none;
      padding: 0.7rem 2rem;
      border-radius: 100px;
      width: 90%;
      transition: all 0.2s;

      margin-right: -3.25rem;

      &:focus {
         outline: none;
         width: 100%;
         background-color: var(--color-primary-light);
      }

      //With webkit it means this will only work in chrome and safari
      &::-webkit-input-placeholder {
         font-weight: 100;
         color: var(--color-primary-strong);
      }
   }

   &__input:focus + &__button {
      background-color: var(--color-primary-light);
   }

   &__button {
      display: none;
      border: none;
      background-color: var(--color-primary);
      transition: all 0.2s;

      &:focus {
         outline: none;
      }

      &:active {
         transform: translateY(2px);
      }
   }

   &__icon {
      height: 2rem;
      width: 2rem;
      fill: var(--color-primary-strong);
   }
}

////////////////////////////////////////
// USER NAVIGATON
.user-nav {
   background-color: var(--color-white);
   align-self: stretch;

   display: flex;

   align-items: center;

   box-shadow: var(--shadow);

   & > * {
      padding: 0 2rem;
      cursor: pointer;
      height: 100%;

      display: flex;
      align-items: center;
   }

   // & > *:hover {
   //    background-color: var(--color-primary-light);
   // }

   &__link {
      display: flex;
      align-items: center;
   }

   &__icon-box {
      position: relative;
      &:hover {
         background-color: var(--color-primary-light);
      }
   }

   &__icon {
      height: 2.25rem;
      width: 2.25rem;
      fill: var(--color-primary-strong);
   }

   &__notification {
      box-shadow: var(--shadow);
      font-size: 0.8rem;
      font-weight: bold;
      height: 1.75rem;
      width: 1.75rem;
      border-radius: 50%;
      background-color: var(--color-primary);
      color: var(--color-black);
      position: absolute;
      top: 1.5rem;
      right: 1.2rem;

      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__loginbtn {
      color: $color-white;
      background-color: $color-primary-strong;
      border: none;
      font-size: 1.7rem;
      border-radius: 2px;
      box-shadow: $shadow-2;

      height: 5rem;
      max-width: 15rem;
      z-index: 2;
      justify-self: end;
      margin: 1rem;
      cursor: pointer;

      &:hover {
         background-color: $color-primary-dark;
      }
      &:active {
         background-color: $color-primary-strong;
      }

      svg {
         fill: $color-primary-strong;
         height: 2rem;
         width: 2rem;
      }
   }

   &__user {
      box-shadow: $shadow-2;
      background-color: $color-white;
      @media only screen and (max-width: $bp-five) {
         span {
            display: none;
         }
      }
   }

   &__user-photo {
      box-shadow: var(--shadow-2);
      height: 3.75rem;
      border-radius: 4px;
      margin-right: 1rem;
   }

   &__user-name {
      color: var(--color-primary-strong);
   }

   &__donolojaLoginbtn {
      color: $color-white;
      background-color: $color-blue;
      border: none;
      font-size: 1.7rem;
      border-radius: 2px;
      box-shadow: $shadow-2;

      height: 5rem;
      max-width: 15rem;
      z-index: 2;
      justify-self: end;
      margin: 1rem;
      cursor: pointer;

      &:hover {
         background-color: $color-blue-light;
      }
      &:active {
         background-color: $color-blue-strong;
      }

      svg {
         fill: $color-primary-strong;
         height: 2rem;
         width: 2rem;
      }
   }
}
