.sidebar {
   z-index: 10;
   background-color: $color-primary-strong;
   margin-top: 7rem;
   //margin-right: 0.3rem;

   flex: 0 0 15%;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-end;
   position: fixed;
   box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.103);
   max-height: 100vh;
   //display: none;
}

////////////////////////////////////////
// SIDE NAVIGATION

.side-nav {
   font-size: 1.7rem;
   list-style: none;
   margin-top: 1.5rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-transform: uppercase;

   @media only screen and (max-width: $bp-seven) {
      span {
         display: none;
      }
      height: 17.5rem;
      width: 9rem;
   }

   &__item {
      position: relative;
      transition: all 0.2s;

      &:not(:last-child) {
         margin-bottom: 0.5rem;
      }

      @media only screen and (max-width: $bp-seven) {
         &:not(:last-child) {
            margin-bottom: 0.5rem;
         }
      }
   }

   &__item::before {
      box-shadow: var(--shadow);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0px;
      background-color: var(--color-white);
      transform-origin: left;
      transform: scaleX(0);
      transition: all 0.2s;
   }

   &__item:hover::before,
   &__item--active::before {
      transform: scaleX(1);
      width: 3%;

      @media only screen and (max-width: $bp-seven) {
         transform: scaleX(2);
         width: 3%;
      }
   }

   &__item:active::before {
      background-color: var(--color-white);
   }

   &__link:link,
   &__link:visited {
      color: var(--color-white);
      text-decoration: none;
      display: block;
      padding: 1.5rem 3rem;

      display: flex;
      //justify-content: space-between;
      align-items: center;
   }

   &__icon {
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 1rem;
      fill: currentColor;
   }

   &__store__img {
      background-color: var(--color-primary-strong);
      display: grid;

      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 1rem;
      box-shadow: $shadow-2;

      border-top: 2px solid $color-primary-strong;
      width: 20rem;

      @media only screen and (max-width: $bp-seven) {
         width: 9rem;
      }
   }

   &__chat--apagar {
      width: 20rem;
      display: flex;
      align-items: center;
      justify-content: space-around;

      background-color: $color-red-strong;
      color: $color-white;

      border: none;
      font-family: inherit;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      cursor: pointer;
      outline: none;
      transition: all 0.3s;
      box-shadow: $shadow-2;

      svg {
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-red-light;
      }

      &:active {
         background-color: $color-red-strong;
      }

      @media only screen and (max-width: $bp-seven) {
         span {
            display: none;
         }
         padding-right: 2rem;
         width: 9rem;
      }
   }

   &__aviso {
      width: 20rem;
      display: flex;
      align-items: center;
      justify-content: space-around;

      background-color: $color-orange;
      color: $color-white;

      border: none;
      font-family: inherit;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      cursor: pointer;
      outline: none;
      transition: all 0.3s;
      box-shadow: $shadow-2;

      svg {
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-orange-light;
      }

      &:active {
         background-color: $color-orange-strong;
      }

      @media only screen and (max-width: $bp-seven) {
         span {
            display: none;
         }
         padding-right: 2rem;
         width: 9rem;
      }
   }

   &__compras {
      width: 20rem;
      display: flex;
      align-items: center;
      justify-content: space-around;

      background-color: $color-gold;
      color: $color-primary-strong;

      border: none;
      font-family: inherit;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      cursor: pointer;
      outline: none;
      transition: all 0.3s;
      box-shadow: $shadow-2;

      svg {
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-gold-light;
      }

      &:active {
         background-color: $color-gold-strong;
      }

      @media only screen and (max-width: $bp-seven) {
         span {
            display: none;
         }
         padding-right: 2rem;
         width: 9rem;
      }
   }

   &__lojas {
      width: 20rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-decoration: none;

      background-color: $color-blue;
      color: $color-white;

      border: none;
      font-family: inherit;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      cursor: pointer;
      outline: none;
      transition: all 0.3s;
      box-shadow: $shadow-2;

      svg {
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-blue-light;
      }

      &:active {
         background-color: $color-blue-strong;
      }

      @media only screen and (max-width: $bp-seven) {
         span {
            display: none;
         }
         padding-right: 2rem;
         width: 9rem;
      }
   }

   &__storeReviewsbtn {
      width: 20rem;

      display: flex;
      align-items: center;
      justify-content: space-around;

      background-color: $color-green;
      color: $color-white;
      border: none;
      border-radius: o;
      font-family: inherit;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      cursor: pointer;
      outline: none;
      transition: all 0.3s;
      box-shadow: $shadow-2;

      svg {
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-green-light;
      }

      &:active {
         background-color: $color-green-strong;
      }

      @media only screen and (max-width: $bp-seven) {
         span {
            display: none;
         }
         padding-right: 2rem;
         width: 9rem;
      }
   }

   &__storeWriteReviewsbtn {
      width: 20rem;
      display: flex;
      align-items: center;
      justify-content: space-around;

      background-color: $color-orange;
      color: $color-white;

      border: none;
      font-family: inherit;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      cursor: pointer;
      outline: none;
      transition: all 0.3s;
      box-shadow: $shadow-2;

      svg {
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-orange-light;
      }

      &:active {
         background-color: $color-orange-strong;
      }

      @media only screen and (max-width: $bp-seven) {
         span {
            display: none;
         }
         padding-right: 2rem;
         width: 9rem;
      }
   }

   &__editarStoreReview {
      width: 20rem;
      display: flex;
      align-items: center;
      justify-content: space-around;

      background-color: $color-orange;
      color: $color-white;

      border: none;
      font-family: inherit;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      cursor: pointer;
      outline: none;
      transition: all 0.3s;
      box-shadow: $shadow-2;

      svg {
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-orange-light;
      }

      &:active {
         background-color: $color-orange-strong;
      }

      @media only screen and (max-width: $bp-seven) {
         span {
            display: none;
         }
         padding-right: 2rem;
         width: 9rem;
      }
   }

   &__editarProdutoReview {
      width: 20rem;
      display: flex;
      align-items: center;
      justify-content: space-around;

      background-color: $color-orange;
      color: $color-white;

      border: none;
      font-family: inherit;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      cursor: pointer;
      outline: none;
      transition: all 0.3s;
      box-shadow: $shadow-2;

      svg {
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-orange-light;
      }

      &:active {
         background-color: $color-orange-strong;
      }

      @media only screen and (max-width: $bp-seven) {
         span {
            display: none;
         }
         padding-right: 2rem;
         width: 9rem;
      }
   }

   &__removeStoreReviewbtn {
      width: 20rem;

      display: flex;
      align-items: center;
      justify-content: space-around;

      background-color: $color-red-light;
      color: $color-white;
      border: none;
      border-radius: o;
      font-family: inherit;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      cursor: pointer;
      outline: none;
      transition: all 0.3s;
      box-shadow: $shadow-2;

      svg {
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-red-light;
      }

      &:active {
         background-color: $color-red-strong;
      }

      @media only screen and (max-width: $bp-seven) {
         span {
            display: none;
         }
         padding-right: 2rem;
         width: 9rem;
      }
   }

   &__productReviewsbtn {
      width: 20rem;

      display: flex;
      align-items: center;
      justify-content: space-around;

      background-color: $color-green;
      color: $color-white;
      border: none;
      border-radius: o;
      font-family: inherit;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      cursor: pointer;
      outline: none;
      transition: all 0.3s;
      box-shadow: $shadow-2;

      svg {
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-green-light;
      }

      &:active {
         background-color: $color-green-strong;
      }

      @media only screen and (max-width: $bp-seven) {
         span {
            display: none;
         }
         padding-right: 2rem;
         width: 9rem;
      }
   }

   &__removeProdutoReviewbtn {
      width: 20rem;

      display: flex;
      align-items: center;
      justify-content: space-around;

      background-color: $color-red-light;
      color: $color-white;
      border: none;
      border-radius: o;
      font-family: inherit;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      cursor: pointer;
      outline: none;
      transition: all 0.3s;
      box-shadow: $shadow-2;

      svg {
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-red-light;
      }

      &:active {
         background-color: $color-red-strong;
      }

      @media only screen and (max-width: $bp-seven) {
         span {
            display: none;
         }
         padding-right: 2rem;
         width: 9rem;
      }
   }

   &__productWriteReviewsbtn {
      width: 20rem;
      display: flex;
      align-items: center;
      justify-content: space-around;

      background-color: $color-orange;
      color: $color-white;

      border: none;
      font-family: inherit;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      cursor: pointer;
      outline: none;
      transition: all 0.3s;
      box-shadow: $shadow-2;

      svg {
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-orange-light;
      }

      &:active {
         background-color: $color-orange-strong;
      }

      @media only screen and (max-width: $bp-seven) {
         span {
            display: none;
         }
         padding-right: 2rem;
         width: 9rem;
      }
   }

   &__editarLoja {
      width: 20rem;

      display: flex;
      align-items: center;
      justify-content: space-around;

      background-color: $color-orange;
      color: $color-white;
      border: none;
      border-radius: o;
      font-family: inherit;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      cursor: pointer;
      outline: none;
      transition: all 0.3s;
      box-shadow: $shadow-2;

      svg {
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-orange-light;
      }

      &:active {
         background-color: $color-orange-strong;
      }

      @media only screen and (max-width: $bp-seven) {
         span {
            display: none;
         }
         padding-right: 2rem;
         width: 9rem;
      }
   }

   &__editarProduto {
      width: 20rem;

      display: flex;
      align-items: center;
      justify-content: space-around;

      background-color: $color-orange;
      color: $color-white;
      border: none;
      border-radius: o;
      font-family: inherit;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      cursor: pointer;
      outline: none;
      transition: all 0.3s;
      box-shadow: $shadow-2;

      svg {
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-orange-light;
      }

      &:active {
         background-color: $color-orange-strong;
      }

      @media only screen and (max-width: $bp-seven) {
         span {
            display: none;
         }
         padding-right: 2rem;
         width: 9rem;
      }
   }

   &__storeremovebtn {
      width: 20rem;

      display: flex;
      align-items: center;
      justify-content: space-around;

      background-color: $color-red-light;
      color: $color-white;
      border: none;
      border-radius: o;
      font-family: inherit;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      cursor: pointer;
      outline: none;
      transition: all 0.3s;
      box-shadow: $shadow-2;

      svg {
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-red-light;
      }

      &:active {
         background-color: $color-red-strong;
      }

      @media only screen and (max-width: $bp-seven) {
         span {
            display: none;
         }
         padding-right: 2rem;
         width: 9rem;
      }
   }

   &__productremovebtn {
      width: 20rem;

      display: flex;
      align-items: center;
      justify-content: space-around;

      background-color: $color-red-light;
      color: $color-white;
      border: none;
      border-radius: o;
      font-family: inherit;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      cursor: pointer;
      outline: none;
      transition: all 0.3s;
      box-shadow: $shadow-2;

      svg {
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-red-light;
      }

      &:active {
         background-color: $color-red-strong;
      }

      @media only screen and (max-width: $bp-seven) {
         span {
            display: none;
         }
         padding-right: 2rem;
         width: 9rem;
      }
   }

   &__minhaslojas {
      width: 20rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-decoration: none;

      background-color: $color-blue;
      color: $color-white;

      border: none;
      font-family: inherit;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      cursor: pointer;
      outline: none;
      transition: all 0.3s;
      box-shadow: $shadow-2;

      svg {
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-blue-light;
      }

      &:active {
         background-color: $color-blue-strong;
      }

      @media only screen and (max-width: $bp-seven) {
         span {
            display: none;
         }
         padding-right: 2rem;
         width: 9rem;
      }
   }

   &__adicionarProduto {
      width: 20rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-decoration: none;

      background-color: $color-green;
      color: $color-white;

      border: none;
      font-family: inherit;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      cursor: pointer;
      outline: none;
      transition: all 0.3s;
      box-shadow: $shadow-2;

      svg {
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-green-light;
      }

      &:active {
         background-color: $color-green-strong;
      }

      @media only screen and (max-width: $bp-seven) {
         span {
            display: none;
         }
         padding-right: 2rem;
         width: 9rem;
      }
   }

   &__criarLoja {
      width: 20rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-decoration: none;

      background-color: $color-green;
      color: $color-white;

      border: none;
      font-family: inherit;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      cursor: pointer;
      outline: none;
      transition: all 0.3s;
      box-shadow: $shadow-2;

      svg {
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-green-light;
      }

      &:active {
         background-color: $color-green-strong;
      }

      @media only screen and (max-width: $bp-seven) {
         span {
            display: none;
         }
         padding-right: 2rem;
         width: 9rem;
      }
   }
   &__generobtn--mulher {
      width: 20rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-decoration: none;

      background-color: $color-salmon;
      color: $color-white;

      border: none;
      font-family: inherit;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      cursor: pointer;
      outline: none;
      transition: all 0.3s;
      box-shadow: $shadow-2;

      svg {
         height: 2.5rem;
         width: 2.5rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-salmon-light;
      }

      &:active {
         background-color: $color-salmon-strong;
      }

      @media only screen and (max-width: $bp-seven) {
         span {
            display: none;
         }
         padding-right: 2rem;
         width: 9rem;
      }
   }
   &__generobtn--homem {
      width: 20rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-decoration: none;

      background-color: $color-blue;
      color: $color-white;

      border: none;
      font-family: inherit;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      cursor: pointer;
      outline: none;
      transition: all 0.3s;
      box-shadow: $shadow-2;

      svg {
         height: 2.5rem;
         width: 2.5rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-blue-light;
      }

      &:active {
         background-color: $color-blue-strong;
      }

      @media only screen and (max-width: $bp-seven) {
         span {
            display: none;
         }
         padding-right: 2rem;
         width: 9rem;
      }
   }

   &__sharebtn {
      width: 20rem;

      display: flex;
      align-items: center;
      justify-content: space-around;

      background-color: $color-orange;
      color: $color-white;
      border: none;
      font-family: inherit;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      cursor: pointer;
      outline: none;
      transition: all 0.3s;
      box-shadow: $shadow-2;

      svg {
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-orange-light;
      }

      &:active {
         background-color: $color-orange-strong;
      }

      @media only screen and (max-width: $bp-seven) {
         span {
            display: none;
         }
         padding-right: 2rem;
         width: 9rem;
      }
   }

   &__chatbtn {
      width: 20rem;

      display: flex;
      align-items: center;
      justify-content: space-around;

      background-color: $color-primary-dark;
      color: $color-white;
      border: none;
      font-family: inherit;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      cursor: pointer;
      outline: none;
      transition: all 0.3s;
      box-shadow: $shadow-2;

      svg {
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-primary;
      }

      &:active {
         background-color: $color-primary-strong;
      }

      @media only screen and (max-width: $bp-seven) {
         span {
            display: none;
         }
         padding-right: 2rem;
         width: 9rem;
      }
   }

   &__callbtn {
      width: 20rem;

      display: flex;
      align-items: center;
      justify-content: space-around;

      background-color: $color-green;
      color: $color-white;
      border: none;
      border-radius: o;
      font-family: inherit;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      cursor: pointer;
      outline: none;
      transition: all 0.3s;
      box-shadow: $shadow-2;

      svg {
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-green-light;
      }

      &:active {
         background-color: $color-green-dark;
      }

      @media only screen and (max-width: $bp-seven) {
         span {
            display: none;
         }
         padding-right: 2rem;
         width: 9rem;
      }
   }

   &__logoutbtn {
      width: 20rem;

      display: flex;
      align-items: center;
      justify-content: space-around;

      background-color: $color-red-light;
      color: $color-white;
      border: none;
      border-radius: o;
      font-family: inherit;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      cursor: pointer;
      outline: none;
      transition: all 0.3s;
      box-shadow: $shadow-2;

      svg {
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-red-light;
      }

      &:active {
         background-color: $color-red-strong;
      }

      @media only screen and (max-width: $bp-seven) {
         span {
            display: none;
         }
         padding-right: 2rem;
         width: 9rem;
      }
   }

   &__storeOwnerLogoutbtn {
      width: 20rem;

      display: flex;
      align-items: center;
      justify-content: space-around;

      background-color: $color-red-light;
      color: $color-white;
      border: none;
      border-radius: o;
      font-family: inherit;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      cursor: pointer;
      outline: none;
      transition: all 0.3s;
      box-shadow: $shadow-2;

      svg {
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-red-light;
      }

      &:active {
         background-color: $color-red-strong;
      }

      @media only screen and (max-width: $bp-seven) {
         span {
            display: none;
         }
         padding-right: 2rem;
         width: 9rem;
      }
   }
}
