.stores {
   grid-column: sidebar-end/center-end;
   //margin: 15rem 0;

   //box-shadow: $shadow-light;

   //transform: scale(1.4);

   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   grid-gap: 7rem;

   background-color: var(--color-main-back);
   padding-top: 10rem;
   color: var(--color-white);
}

.store {
   background-color: var(--color-primary-strong);
   display: grid;

   grid-template-columns: repeat(2, 1fr);
   grid-row-gap: 1rem;
   box-shadow: $shadow-2;

   &__img {
      width: 100%;
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      z-index: 1;
   }

   &__like {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      fill: $color-primary;
      height: 2.5rem;
      width: 2.5rem;
      z-index: 2;
      justify-self: end;
      margin: 1rem;
      cursor: pointer;
   }

   &__nome {
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      justify-self: center;
      align-self: end;

      width: 100%;
      z-index: 3;

      font-family: $font-lato;
      font-size: 1.6rem;
      text-align: center;
      padding: 1.25rem;
      background-color: $color-primary-strong;
      color: $color-white;
      font-weight: 400;
      box-shadow: $shadow-2;
      //transform: translateY(50%);
   }

   &__like,
   &__nome {
   }

   &__status,
   &__rating {
      //margin-top: 2.5rem;
   }

   &__status,
   &__rating,
   &__type,
   &__delivery,
   &__location,
   &__detail {
      font-size: 1.6rem;
      margin-left: 2rem;
      display: flex;
      align-items: center;
      justify-content: stretch;

      svg {
         fill: $color-white;
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }
   }

   &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: 1 / 3;
      grid-gap: 0.7rem;
      svg {
         fill: $color-primary-strong;
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $grey-color-light;
      }
      &:active {
         background-color: $grey-color-dark;
      }
   }
   /*
   &__btn--2 {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      grid-column: 1 / 2;
      background-color: $color-green;
      color: $color-white;
      //grid-gap: 0.2rem;
      svg {
         fill: $color-white;
         height: 2rem;
         width: 2rem;
         margin-right: 1rem;
      }

      &:hover {
         background-color: $color-green-light;
      }
      &:active {
         background-color: $color-green-dark;
      }
   }*/
}
