body {
   font-family: 'Lato', futura;
   font-weight: 400;
   /*font-size: 16px;*/
   line-height: 1.7;
}

.heading-primary {
   text-transform: uppercase;

   backface-visibility: hidden;
   margin-bottom: 40rem;

   &--main {
      color: $color-white;
      font-size: 6rem;
      font-weight: 300;
      letter-spacing: 4rem;
      display: block;
      text-shadow: $shadow-light;

      @include respond(phone) {
         letter-spacing: 1rem;
         font-family: 6rem;
      }
   }

   &--sub {
      color: $color-pink;
      font-size: 2rem;
      font-weight: 300;
      letter-spacing: 1.75rem;
      display: block;

      @include respond(phone) {
         letter-spacing: 0.5rem;
      }
   }
}

.heading-secondary {
   font-size: 3.5rem;
   text-transform: uppercase;
   font-weight: 300;
   display: inline-block;
   color: $color-white;
   transition: all 0.2s;
   letter-spacing: 0.2rem;

   @include respond(tab-port) {
      font-size: 3rem;
   }

   @include respond(phone) {
      font-size: 2.5rem;
   }
}

.heading-secondary-logo {
   font-size: 3.5rem;
   text-transform: uppercase;
   font-weight: 300;
   display: inline-block;
   color: $logo-color;
   transition: all 0.2s;
   letter-spacing: 0.2rem;
}

/*background-image: linear-gradient(to right, $color-pink, $logo-color);
-webkit-background-clip: text;
color: transparent;
transition: all 0.2s;
letter-spacing: 0.2rem;

&:hover {
   transform: skewY(2deg) skewX(15deg) scale(1.1);
   text-shadow: 0.5rem 1rem 2rem $logo-color;
}*/

.heading-tertiary {
   font-size: $default-font-size;
   color: $color-white;
   font-weight: 700;
   text-transform: uppercase;
}

.heading-tertiary-logo {
   font-size: $default-font-size;
   color: $color-primary;
   font-weight: 700;
   text-transform: uppercase;
}
.paragraph {
   color: $color-pink;
   font-size: $default-font-size;
   &:not(:last-child) {
      margin-bottom: 3rem;
   }
}
